html{
  box-sizing: border-box;
}

*, ::before, ::after{
  box-sizing: inherit;
}

body{
  background-image: url("../images/background.webp");
  background-position: center;
  background-repeat: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  min-height:100vh;
}